$primary: #212529;
$secondary: #1f1f1f;

.container-fluid {
  padding: 0;
}

.section {
  height: 750px;
  padding: 5rem 8rem;
}

#header {
  height: 130px;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  background: $primary;
  color: white;
  transition: top 0.5s;
  z-index: 20;

  .logo-wrapper {
    width: 20%;
    height: 100%;
  }

  .menu-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu {
      display: flex;
      list-style-type: none;
      padding-left: 0;
  
      li {
        position: relative;
        padding: 15px 0;
        cursor: pointer;
        margin: 0 20px;
        &:before, &:after {
          content: '';
          position: absolute;
          transition: transform .5s ease;
        }
      }
    }
  }

  
}

.effect-1 {
  padding-top: 10px;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform:  scaleX(0);
  }
  &:hover:before {
    transform:  scaleX(1);
  }
}


.banner {
    background: white;
    // margin-top: 130px;
    overflow: hidden;
    padding: 0;

    .banner-slider {
      width: 100%;
      height: 750px;

      .slick-dots {
        bottom: 35px;
        
        li button {
          &:before {
            color: white;
          }
        }
      }

      .slick-slide {
        img {
          display: block;
          width: 100%;
          height: 750px;
          object-fit: cover;
          object-position: bottom;
        }
      }
    }
}

.heading {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.who-we-are {
  background: $primary;

  .whoweare-wrapper {
    display: flex;
    width: 100%;
    height: 450px;
    margin-top: 60px;

    .left-content {
      width: 50%;
      background: red;
    }
    .right-content {
      width: 50%;
      background: green;
    }
  }
}

.what-we-do {
  background: $secondary;

  .heading {
    text-align: left;
  }

  .whatwedo-wrapper-slider {
    margin-top: 60px;

    .slider-wrapper {
      display: flex;
      outline: none;

      img {
        width: 60%;
        height: 450px;
        object-fit: cover;
        object-position: center;
      }

      .slider-text {
        color: white;
        width: 40%;
        padding: 4rem 0rem 4rem 4rem;
        font-size: 3rem;
      }
    }
  }
}

.social-media {
  background: $primary;
  height: 400px;
}

.contact {
  background: $primary;
  height: 400px;
}

.footer {
  height: 300px;
  background: $secondary;
}

.test {
  width: 100px;
  height: 100px;
  background: red;
}

.wrapper {
  position: relative;
}